.slides-container {
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}

.no-y-scroll {
    overflow-y: hidden;
}


.slide {
    width: 100%;
    height: 100vh;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* Scroll Snap Layout */
.scroll-snap {
    scroll-snap-type: y mandatory;
}


.scroll-snap>.slide {
    scroll-snap-align: start;

}